# Core functionality - changes here should be rare!
/src/app.py                   @rustinscottmarkaaz
/src/backend/database.py      @rustinscottmarkaaz
/src/backend/routers/auth.py  @rustinscottmarkaaz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rustinscottmarkaaz
